<div class="card border-primary mb-3" style="max-width: 100%;">
    <div class="card-header">Usuarios</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Usuarios</h5>
        <!-- Aqui mostraremos la tabla con los roles-->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">username</th>
                    <th scope="col">password</th>
                    <th scope="col">email</th>
                    <th scope="col">name</th>
                    <th scope="col">phone</th>
                    <th scope="col">photo</th>
                    <th scope="col">create_at</th>
                    <th scope="col">enabled</th>
                    <th scope="col">roles</th>
                    <th scope="col">Editar</th> <!-- Nueva columna para editar -->
                    <th scope="col">Eliminar</th> <!-- Nueva columna para eliminar -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <th scope="row">{{usuario.id}}</th>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.password}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.phone}}</td>
                    <td>{{usuario.photo}}</td>
                    <td>{{usuario.create_at}}</td>
                    <td>{{usuario.enabled}}</td>
                    <td>{{usuario.roles}}</td>
                    <td><button class="btn btn-primary" (click)="editarUsuario(usuario)"><i class="fas fa-pencil-alt"></i></button></td> <!-- Botón para editar -->
                    <td><button class="btn btn-danger" (click)="eliminarUsuario(usuario)"><i class="fas fa-trash"></i></button></td> <!-- Botón para eliminar -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
